@import "tailwindcss";

@theme {
  /*color palette*/
  --color-Point: #00677f;
  --color-Hufs: #013642;

  /*break point*/
  --breakpoint-phone: 900px;
  --breakpoint-done: 450px;

  /*Fonts*/
  --font-GL: GL;
  --font-G: G;
  --font-GB: GB;
}

.input {
  @apply border-2 border-neutral-300 w-full px-2 py-1 placeholder:text-Point/40;
}

.greenBtn {
  @apply rounded-md w-[100px] py-1 bg-Point text-white border-2 border-Point active:bg-Point/50 cursor-pointer transition text-center;
}

.Btn {
  @apply w-[100px] border-2 rounded-md py-1 text-Point active:bg-Point/50 select-none cursor-pointer transition text-center;
}

.error {
  @apply self-start text-red-400;
}

.option {
  @apply hover:bg-Point hover:text-white transition;
}

.hufsBtn {
  @apply border-2 border-Hufs bg-Hufs text-white w-full py-1 text-center cursor-pointer phone:hover:bg-Hufs/80 transition active:scale-[0.99];
}
.hufsLightBtn {
  @apply border-2 text-Hufs w-full py-1 text-center cursor-pointer;
}
.adminBtn {
  @apply px-3 py-1 bg-Hufs text-white select-none active:scale-[0.95] transition text-[13px] rounded-md;
}
.adminBtnRed {
  @apply px-3 py-1 bg-red-500 text-white select-none active:scale-[0.95] transition text-[13px] rounded-md;
}
.homeElement {
  @apply w-full px-3 py-2 flex flex-col gap-3;
}
.homeElementLists {
  @apply cursor-pointer transition phone:hover:font-G py-1 px-2 grid grid-cols-[4fr_1fr] list-none phone:hover:text-Point;
}
.overlay {
  @apply bg-black/40 fixed top-0 left-0 w-screen h-screen flex items-center justify-center z-50;
}
@font-face {
  font-family: "G";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GL";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}
