@import "tailwindcss";

@theme {
  /*color palette*/
  --color-Point: #00677f;
  --color-Hufs: #013642;

  /*break point*/
  --breakpoint-phone: 900px;
}

.input {
  @apply border-2 border-neutral-300 w-full px-2 py-1;
}

.greenBtn {
  @apply rounded-md w-[100px] py-1 bg-Point text-white border-2 border-Point active:bg-Point/50 cursor-pointer transition text-center;
}

.Btn {
  @apply w-[100px] border-2 rounded-md py-1 text-Point active:bg-Point/50 select-none cursor-pointer transition text-center;
}

.error {
  @apply self-start text-red-400;
}

.option {
  @apply hover:bg-Point hover:text-white transition;
}

.hufsBtn {
  @apply border-2 border-Hufs bg-Hufs text-white w-[139px] phone:w-[250px] py-1 text-center cursor-pointer;
}
.hufsLightBtn {
  @apply border-2 text-Hufs phone:w-[250px] w-[139px] py-1 text-center cursor-pointer;
}
